---
title: "Strona główna"
---

extends /layouts/pl

block content
  h2
    span Witamy
  section.content--text
    h3 Drodzy Współbracia, droga Młodzieży,
    p Jak pewnie dobrze wiecie, zbliża się Światowy Dzień Młodzieży i to zbliża się szybko. Wyczekując ze zniecierpliwieniem tego wielkiego wydarzenia, przygotowaliśmy krótkie podsumowanie naszych wspólnych planów.
    p 
      img(src="/img/piarist_logo.png", style="float: left; max-width: 10em; margin-right: 1em")
      | Chcielibyśmy przeżyć ten Światowy Dzień Młodzieży w 2016 roku jako <strong>grupa Calasanz</strong>, skupiająca całą młodzież związaną z osobą św. Józefa Kalasancjusza, duszpasterstwami prowadzonymi przez pijarów i wspólnoty Rodziny Kalasantyńskiej na całym świecie. Chcemy kontynuować tradycję spotkań młodzieży kalasantyńskiej, które miały miejsce w czasie poprzednich Światowych Dni Młodzieży w Madrycie i Rio de Janeiro.
    //figure
    //  img(src="/img/rio5.jpg")
    //  figcaption Spotkanie kalasantyńskie w Rio de Janeiro
    h3 Przegląd programu
    p Dlatego przygotowujemy <strong>specjalny program podczas ŚDM 2016 w Polsce</strong>, na który już teraz zapraszamy. Nasza propozycja składa się z dwóch etapów:
    ul
      li 20 – 25 lipca 2016 roku — 
        a(href=loc._program+"/"+loc._days_in_diocese_in_bolszewo+".html")
          strong Dni w Diecezji
          |  w Bolszewie
        |  (Archidiecezja Gdańska)
      li 27 lipca 2016 roku — 
        a(href=loc._program+"/"+loc._calasantian_day_in_cracow+".html")
          strong Dzień Kalasantyński
          |  w Krakowie
    p <strong>Dni w Diecezji</strong> to 5-dniowy czas, podczas którego młodzi ludzie są goszczeni w diecezjach na terenie całej Polski. My odwiedzimy archidiecezję gdańską, umiejscowioną na północy Polski, bardzo blisko morza. Jest to wspaniała okazja, aby poznać polską kulturę, duchowość oraz poznać wiele sympatycznych ludzi. Biorąc udział w tym wydarzeniu będziecie podopiecznymi prawie znajomej Kalasantyńskiej Młodzieży z Polski oraz będziecie mieć możliwość poznania ludzi z całego świata, związanych ze św. Józefem Kalasancjuszem. 
      a(href=loc._program+"/"+loc._days_in_diocese_in_bolszewo+".html") Więcej informacji…
    p <strong>Dzień Kalasantyński w Krakowie</strong> to jedno jedyne spotkanie całej naszej grupy w Krakowie podczas głównych obchodów. Wtedy, na przestrzeni kilku godzin, wysłuchamy występów pijarskich kapel z całego świata, coś zjemy, poznamy i będziemy się razem dobrze bawić. 
      a(href=loc._program+"/"+loc._calasantian_day_in_cracow+".html") Więcej informacji…
    p 
      img(src="/img/official-wyd-logo.png", style="float: right; margin-left: 1em; width: 10em")
      | Od ponad roku działa wielojęzyczna, oficjalna strona ŚDM Kraków 2016 – 
      a(href="http://www.sdm.krakow.pl/"+loc.lang+"/") http://www.sdm.krakow.pl/
      |. Dodatkowo my będziemy publikować wszelkie informacje, zdjęcia, filmiki i zaproszenia przez wiele sieci społecznościowych. 
      a(href=loc._contact+".html") Kliknij tutaj, by zobaczyć je wszystkie!
    h3 Szczegóły organizacyjne
    p Noclegi podczas Dni w Diecezji w Bolszewie i okolicach zostaną przygotowane przez nas, a w Krakowie przez organizatorów ŚDM. Szkoły i parafie pijarów w Krakowie nie organizują żadnych noclegów. Transport do Polski i z powrotem należy załatwić we własnym zakresie. O środkach transportu podczas Dni w Diecezji w Bolszewie, do Krakowa i w samym Krakowie będziemy informować na naszej stronie internetowej w miarę udostępniania tych informacji przez organizatorów. Podobne informacje będą udzielane o kosztach uczestnictwa.
    p Pozdrawiamy serdecznie, liczymy na Wasz udział i do zobaczenia w czasie ŚDM Kraków 2016!
    p.italic.align-right o. Tomasz Abramowicz SP
      br/ 
      |Komitet Przygotowawczy ŚDM Kraków 2016 – CALASANZ2016
  nav.nav--sidebar
    a.link--tile(href=loc._days_in_diocese_in_bolszewo+".html")
      .link--tile__image
        img(src="/img/days_in_diocese_thumb.jpg")
      .link--tile__caption W Diecezji
    | 
    a.link--tile(href=loc._calasantian_day_in_cracow+".html")
      .link--tile__image
        img(src="/img/calasantian_day_thumb.jpg")
      .link--tile__caption W Krakowie
    | 
    a.link--tile(href=loc._organisers_form+".html")
      .link--tile__image
        img(src="/img/coming_group_thumb.jpg")
      .link--tile__caption Organizujesz grupę, która przyjedzie? Poinformuj nas!
    | 
    a.link--tile(href="https://www.facebook.com/pages/World-Youth-Day-2016-Calasanz/1563386310596737")
      .link--tile__image
        img(src="/img/facebook_thumb.png")
      .link--tile__caption Strona na Facebooku
    | 
    a.link--tile(href="https://www.youtube.com/channel/UC0sZy2upruPPYfRGX6ykw1Q")
      .link--tile__image
        img(src="/img/youtube_thumb.png")
      .link--tile__caption Kanał na Youtubie