---
title: "Pagina iniziale"
---

extends /layouts/it

block content
  h2
    span Benvenuti
  section.content--text
    div.content--news
      h3 Notizie
      ul.news--dates
        li 28 settembre 2015
        ul.news--links
          li
            a(href=loc._news+"/"+loc._message_for_wyd+".html") La presentazione del messaggio del Papa per i giovani per la XXXI GMG
    h3 Cari Fratelli, Cari Giovani
    p Come ben sapete, le Giornate Mondiali della Gioventù si stanno avvicinando sempre di più. Aspettando con ansia questo grand’ evento, abbiamo preparato un corto riassunto delle attività che faremo insieme.
    p 
      img(src="/img/piarist_logo.png", style="float: left; max-width: 10em; margin-right: 1em")
      | Vorremmo passare queste Giornate  Mondiali della Gioventù 2016 come il <strong>gruppo del Calasanz</strong>, riunendo tutti i giovani che abbracciano l’idea di San Giuseppe Calasanz, attraverso apostolati guidati dagli Scolopi e le altre comunità della Famiglia dei Calasanz in tutto il mondo. Vogliamo continuare la tradizione degli incontri dei giovani di Calasanz, che avevano luogo  a Rio de Janeiro durante il precedente incontro Mondiale della Gioventù.
    //figure
    //  img(src="/img/rio5.jpg")
    //  figcaption Spotkanie kalasantyńskie w Rio de Janeiro
    h3 Il programma
    p Abbiamo intenzione di presentarvi <strong>un programma speciale</strong> durante le Giornate Mondiali della Gioventù 2016, al quale vi invitiamo calorosamente. La nostra proposta è composta da due tappe:
    ul
      li 20 – 25 Luglio 2016 — 
        a(href=loc._days_in_diocese_in_bolszewo+".html")
          strong Giorni nella Diocesi
          |  in Bolszewo
        |  (Arcidiocesi di Danzica)
      li 27 Luglio 2016 — 
        a(href=loc._calasantian_day_in_cracow+".html")
          strong Il Giorno di Calasanz
          |  a Cracovia
    p I cinque <strong>Giorni nella Diocesi</strong> sono un tempo durante il quale i giovani vengono ospitati nelle Diocesi su tutto il territorio polacco. Noi visiteremo l’arcidocesi  di Danzica situata nel nord della Polonia, in prossimità del mare. Questa è un’ottima occasione per conoscere la cultura polacca, la spiritualità, nonchè molte persone simpatiche. Partecipando a questo evento sarete sotto la custodia della Gioventù di Calasanz polacca, e avrete anche la possibilità di conoscere persone,i quali abbracciano l’idea di San Giovanni di Calasanz, provenienti da tutto il mondo. 
      a(href=loc._days_in_diocese_in_bolszewo+".html") Altre informazioni…
    p <strong>La Giornata di Calasanz</strong> a Cracovia è un solo incontro di tutto il nostro gruppo a Cracovia, il quale si svogle durante gli eventi principali. Durante l’incontro ascolteremo le presentazioni musicali  dei Scolopi di tutto il mondo, consumeremo un pasto, ci integreremo per conoscerci meglio.
      a(href=loc._calasantian_day_in_cracow+".html") Altre informazioni…
    p 
      img(src="/img/index-wyd-logo.png", style="float: right; margin-left: 1em; width: 10em")
      | Da più di un anno è attiva la pagina ufficiale multilingue della Giornata Mondialie della Gioventù di Cracovia 2016 –
      a(href="http://www.sdm.krakow.pl/"+loc.lang+"/") http://www.sdm.krakow.pl/
      |. In più, pubblicheremo varie informazioni, foto,video, e inviti attraverso siti popolari. 
      a(href=loc._contact+".html") Clicca qui, per vederli tutti!
    h3 Particolari dell’organizzazione
    //|  de los Días en las Diócesis
    p I pernottamenti durante i giorni nella Diocesi a Bolszewo e dintorni saranno organizzati tramite noi, mentre a Cracovia tramite gli organizzatori della Giornata Mondiale della Gioventù. Le scuole e le parrochhie degli Scolopi a Cracovia non organizzano alcun tipo di pernottamento. Il trasporto verso la Polonia e il ritorno deve essere organizzato autonomamente. A proposito dei trasporti durante i giorni nella Diocesi a Bolszewo, da Bolszewo  fino a Cracovia e a Cracovia stessa, vi informeremo tramite sulla nostra pagina internet. Simili informazioni, riguardanti i costi della participazione, saranno anch’esse pubblicate sulla nostra pagina web.
    p Vi salutiamo calorosamente,contiamo sulla Vostra participazione e speriamo di incontravi durante la Giornata Mondiale della Gioventù 2016!
    p.italic.align-right P. Tomasz Abramowicz SP
      br/ 
      | Commissione organizzativa della GMG Cracovia 2016 – CALASANZ 2016
  nav.nav--sidebar
    a.link--tile(href=loc._organisers_form+".html")
      .link--tile__image
        img(src="/img/coming_group_thumb.jpg", data-no-retina="true")
      .link--tile__caption Organizzi un gruppo che viene? Informaci.
    | 
    a.link--tile(href=loc._days_in_diocese_in_bolszewo+".html")
      .link--tile__image
        img(src="/img/days_in_diocese_thumb.jpg", data-no-retina="true")
      .link--tile__caption Nella Diocesi
    | 
    a.link--tile(href=loc._calasantian_day_in_cracow+".html")
      .link--tile__image
        img(src="/img/calasantian_day_thumb.jpg", data-no-retina="true")
      .link--tile__caption A Cracovia
    | 
    a.link--tile(href="https://www.facebook.com/pages/World-Youth-Day-2016-Calasanz/1563386310596737")
      .link--tile__image
        img(src="/img/facebook_thumb.png", data-no-retina="true")
      .link--tile__caption Pagina Facebook
    | 
    a.link--tile(href="https://www.youtube.com/channel/UC0sZy2upruPPYfRGX6ykw1Q")
      .link--tile__image
        img(src="/img/youtube_thumb.png", data-no-retina="true")
      .link--tile__caption Canale Youtube