---
title: "Page d'accueil"
---

extends /layouts/fr

block content
  h2
    span Bienvenue
  section.content--text
    h3 Chers Frères, chère Jeunesse,
    p Comme vous le savez sûrement La Journée Mondiale de la Jeunesse arrive, et arrive plutôt vite. En attendant avec impatience cet événement marquant, nous avons préparé un récapitulatif de ce que nous planifions.
    p 
      img(src="/img/piarist_logo.png", style="float: left; max-width: 10em; margin-right: 1em")
      | Nous voudrions appréhender les Journées mondiales de la jeunesse en 2016 comme un groupe Calasanz, rassemblant toute la jeunesse liée à st. Joseph Calasanz, Piarist et la Communauté Familiale Calasantian. Nous souhaitons perpétrer la tradition des réunions de jeunesse calasantian, qui avaient été tenues pendant les Journées mondiales de la jeunesse précédentes à Madrid et à Rio de Janeiro.
    //figure
    //  img(src="/img/rio5.jpg")
    //  figcaption Spotkanie kalasantyńskie w Rio de Janeiro
    h3 Aperçu du Programme
    p Nous préparons un programme spécial pour le 2016 WYD en Pologne, auquel nous vous invitons déjà. Notre proposition tient en deux étapes:
    ul
      li Le 20 juillet – 25ème, 2016 — 
        a(href=loc._days_in_diocese_in_bolszewo+".html")
          strong Jours du Diocèse
          |  à Bolszewo
        |  (Archidiocèse de Gdansk)
      li Le 27 juillet 2016 — 
        a(href=loc._calasantian_day_in_cracow+".html")
          strong Calasantian Jour
          |  à Cracovie
    p <strong>Les jours du Diocèse:</strong> il s'agit de cinq jours pendant lesquels les jeunes sont amenés à visiter des diocèses à travers la Pologne. Nous visiterons l'archidiocèse de Gdansk, situé en Pologne du nord,  proche à la mer. C'est ici une bonne occasion de connaître la culture polonaise et ainsi que de rencontrer un grand nombre de personnes accueillantes. En participant à cet événement vous aurez la possibilité de rencontrer toutes sortes de personnes en lien avec st. Joseph Calasanz.
      a(href=loc._days_in_diocese_in_bolszewo+".html") Pour toute information, veuillez cliquer ici:!
    p <strong>Le Jour Calasantian à Cracovie</strong> est l'unique réunion de notre groupe à Cracovie, pendant les célébrations principales . Pendant plusieurs heures, nous écouterons les performances des groupes Piarist du monde entier, mangerons, jouerons et nous amuserons. 
      a(href=loc._calasantian_day_in_cracow+".html") Pour toute information, veuillez cliquer ici:!
    p 
      img(src="/img/index-wyd-logo.png", style="float: right; margin-left: 1em; width: 10em")
      | Depuis plus plus d'un an un site multilingue, officiel de WYD Kraków 2016 est disponible – 
      a(href="http://www.sdm.krakow.pl/"+loc.lang+"/") http://www.sdm.krakow.pl/
      |. Nous publierons des informations complémentaires, des photos, des films, des invitations via de nombreux réseaux sociaux. 
      a(href=loc._contact+".html") Pour toute information, veuillez cliquer ici:!
    h3 Renseignement complémentaire 
    p Le logement pendant les Jours du Diocèse (Bolszewo, alentours de  Bolszewo) est organisé par nous (le comité Calasanz2016 polonais). Le logement pour l'événement a Cracocovie est organisé par le comité WYD central. Nous ne gérons pas les groupes provenant en Pologne - vous devez arranger le voyage par vous-mêmes. Nous vous informerons des moyens de transport pendant les Jours du Diocèse à Bolszewo, en Cracovie et à Cracovie avec ce site, aussitôt que les organisateurs publieront ces informations. De la même façon, nous vous informerons du coût de participation.
    p Cordialement, Nous comptons sur votre massive participation et vous verrons à La Journée Mondiale de la Jeunesse 2016!
    p.italic.align-right P. Tomasz Abramowicz SP
      br/ 
      |Préparation Comité JMJ Cracovie 2016 – CALASANZ2016
  nav.nav--sidebar
    a.link--tile(href=loc._days_in_diocese_in_bolszewo+".html")
      .link--tile__image
        img(src="/img/days_in_diocese_thumb.jpg", data-no-retina="true")
      .link--tile__caption Du diocèse
    | 
    a.link--tile(href=loc._calasantian_day_in_cracow+".html")
      .link--tile__image
        img(src="/img/calasantian_day_thumb.jpg", data-no-retina="true")
      .link--tile__caption À Cracovie
    | 
    a.link--tile(href=loc._organisers_form+".html")
      .link--tile__image
        img(src="/img/coming_group_thumb.jpg", data-no-retina="true")
      .link--tile__caption Organisez-vous un groupe? Dites-le-nous.
    | 
    a.link--tile(href="https://www.facebook.com/pages/World-Youth-Day-2016-Calasanz/1563386310596737")
      .link--tile__image
        img(src="/img/facebook_thumb.png", data-no-retina="true")
      .link--tile__caption Facebook
    | 
    a.link--tile(href="https://www.youtube.com/channel/UC0sZy2upruPPYfRGX6ykw1Q")
      .link--tile__image
        img(src="/img/youtube_thumb.png", data-no-retina="true")
      .link--tile__caption Youtube