---
title: "Home"
---

extends /layouts/en

block content
  h2
    span Welcome
  section.content--text
    h3 Dear Brothers, dear Youth,
    p As you probably well know, World Youth Day is coming, and it is coming pretty fast. Looking forward to organisation of this big event we've prepared a brief summary of what we are planning.
    p We would like to experience the World Youth Days in 2016 as a <strong>Calasanz group</strong>, gathering all the youth related to St. Joseph Calasanz, Piarist ministries and the Calasantian Family Community. We want to continue the tradition of calasantian youth's meetings, which had been held during previous World Youth Days in Madrit and Rio de Janeiro.
    h3 Program overview
    p That's why we are preparing a <strong>special program during WYD 2016 in Poland</strong>, for which we invite you already. Our proposal consists of two stages:
    ul
      li July 20<sup>th</sup> – 25<sup>th</sup>, 2016 — 
        a(href=loc._program+"/"+loc._days_in_diocese_in_bolszewo+".html")
          strong Days in Diocese
          |  in Bolszewo
        |  (Archdiocese of Gdańsk)
      li July 27<sup>th</sup> 2016 — 
        a(href=loc._program+"/"+loc._calasantian_day_in_cracow+".html")
          strong Calasantian Day
          |  in Cracow
    p <strong>Days in Diocese</strong> is a 5-days time during which young people visit dioceses around Poland. We shall visit archdiocese of Gdańsk, located in northern Poland, very close to the sea. It is a great opportunity to get to know Polish culture, spirituality and also to meet many hospitable people. Taking part in this event you will be entertained by almost familiar fellow Calasantian youth from Poland with possibility to meet people from all over the world connected with St. Joseph Calasanz. 
      a(href=loc._program+"/"+loc._days_in_diocese_in_bolszewo+".html") Click here for more info! 
    p <strong>Calasantian Day in Cracow</strong> is the one and only meeting of our group in Cracow, during the main celebrations. Then, during a couple of hours time, we will listen to the performances of Piarist bands from all around the world, eat, play, meet and have fun. 
      a(href=loc._program+"/"+loc._calasantian_day_in_cracow+".html") For more information click here.
    p Since more then a year a multilingual, official site of WYD Kraków 2016 is available – 
      a(href="http://www.sdm.krakow.pl/"+loc.lang+"/") http://www.sdm.krakow.pl/
      |. Also, we will publish further information, photos, movies, invitations via many social networks. 
      a(href=loc._contact+".html") Click here to list them all!
    h3 Organisation details
    p Accommodation during the Days in Diocese (Bolszewo and surroundings) is organised by us (Polish Calasanz2016 committee). Quarters for Cracowian event are organised by central WYD committee. We do not organise any kind of group coming to Poland – you have to arrange travel on your own. We will inform about the means of transport during Days in Diocese in Bolszewo, to Cracow and in Cracow with this site as soon as organisators make this information available. Similarly we will inform about the cost of participation.
    p Kind regards, we count on your numerous participation and see you during World Youth Day 2016!
    p.italic.align-right Fr. Tomasz Abramowicz SP
      br/ 
      |Preparation Comittee WYD Cracow 2016 – CALASANZ2016
  nav.nav--sidebar
    a.link--tile(href=loc._days_in_diocese_in_bolszewo+".html")
      .link--tile__image
        img(src="/img/days_in_diocese_thumb.jpg")
      .link--tile__caption In Diocese
    | 
    a.link--tile(href=loc._calasantian_day_in_cracow+".html")
      .link--tile__image
        img(src="/img/calasantian_day_thumb.jpg")
      .link--tile__caption In Cracow
    | 
    a.link--tile(href=loc._organisers_form+".html")
      .link--tile__image
        img(src="/img/coming_group_thumb.jpg")
      .link--tile__caption Are you organising a group that will come? Tell us about it!
    | 
    a.link--tile(href="https://www.facebook.com/pages/World-Youth-Day-2016-Calasanz/1563386310596737")
      .link--tile__image
        img(src="/img/facebook_thumb.png")
      .link--tile__caption Facebook Page
    | 
    a.link--tile(href="https://www.youtube.com/channel/UC0sZy2upruPPYfRGX6ykw1Q")
      .link--tile__image
        img(src="/img/youtube_thumb.png")
      .link--tile__caption Youtube Channel