- loc = site.layouts[0]
- each val in site.layouts
    - if (_path.match(/^\/(\w+)\//)[1] == val.lang)
        - loc = val
- lang_path_prefix = "/"+loc.lang+"/"
doctype html
html(lang=loc.lang)
  head
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    != css("/")
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    - if (post.description) {
    meta(name='description', content=post.description)
    - } else {
    meta(name='description', content=loc.main_description)
    - }
    meta(name='author', content= "http://www.pijarzy.pl/")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    - if (post.title) {
    title= post.title+" | "+loc.main_title
    - } else {
    title= loc.main_title
    - }
    script(type="text/javascript", src="/js/wh-cookies-"+loc.lang+".js")
    script(type="text/javascript", src="/js/wh-cookies.js")
  body(class=post.body_class)
    ul.nav--lang
        li
            a(href="/en/", class=(loc.lang == "en" ? "is-current" : "")) English
        |  / 
        li
            a(href="/pl/", class=(loc.lang == "pl" ? "is-current" : "")) Polski
        |  / 
        li
            a(href="/es/", class=(loc.lang == "es" ? "is-current" : "")) Español
    header.header--main
        h1
            span.wyd-red=loc.main_title_1 
            span.wyd-blue=loc.main_title_2
            span.wyd-yellow=loc.main_title_3
        nav.nav--main
            ul
                li
                    a(href=lang_path_prefix+loc._index+".html", class=(_path.match(/([\w]+)\.html$/)[1] == loc._index) ? "is-current" : "")=loc._Home
                | 
                li
                    a(href=lang_path_prefix+loc._days_in_diocese_in_bolszewo+".html", class=(_path.match(/(\w+)\.html$/)[1] == loc._days_in_diocese_in_bolszewo) ? "is-current" : "")=loc._In_Diocese
                | 
                li
                    a(href=lang_path_prefix+loc._calasantian_day_in_cracow+".html", class=(_path.match(/(\w+)\.html$/)[1] == loc._calasantian_day_in_cracow) ? "is-current" : "")=loc._In_Cracow
                | 
                li
                    a(href=lang_path_prefix+loc._wyd_info+".html", class=(_path.match(/(\w+)\.html$/)[1] == loc._wyd_info) ? "is-current" : "")=loc._WYD_Info
                | 
                li
                    a(href=lang_path_prefix+loc._contact+".html", class=(_path.match(/(\w+)\.html$/)[1] == loc._contact) ? "is-current" : "")=loc._Contact
    article.content--main
        block content
    footer.footer--main
        p!=loc._Piarists_in_Poland+', <a href="mailto:'+loc.contact_mail+'">'+loc.contact_mail+'</a>'
